body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  height: 100%;
}

#info {
  width: 25%;
  padding: 20px;
}

#feedback, #timer{
  width: 25%;
  padding: 20px;
}

#map {
  width: 60%;
  height: 100%;
}